/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.img1 {
	-fx-background-image: url('../../img/img1.jpg'); 
	-fx-background-repeat: no-repeat;
}

.img2 {
	-fx-background-image: url('../../img/img2.jpg'); 
	-fx-background-repeat: no-repeat;
}

.img3 {
	-fx-background-image: url('../../img/img3.jpg'); 
	-fx-background-repeat: no-repeat;
}

.img4 {
	-fx-background-image: url('../../img/img4.jpg'); 
	-fx-background-repeat: no-repeat;
}

.header {
	-fx-background-color: #00c3f8;
}

.gradient {
	-fx-background-color: linear-gradient(#BDEEF7, #F3FBFC); 
}

.homeButtons:hover {
	-fx-background-color: #ff895e;
}

.colorButtons {
	-fx-background-color: #F7B859;
}

.colorButtons2 {
	-fx-background-color: #00c3f8;
}